// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-image: url("code_img.jpg");
	min-height: 1000px;
}

.header {
	margin-top: -20px;
	text-align: center;
	color: white;
}

#ps {
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 30px;

}

#wd {
	font-family: 'Great Vibes', 'Cursive';
}

.left_arrow {

}

.right_arrow {
	float: right;
}
