// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-image: url("code_img.jpg");
	min-height: 800px;
	margin: auto 0;
	text-align: center;
}

.row2 {
	background-color: white;
}

.header {
	margin-top: -20px;
	text-align: center;
}

#ps {
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .4em;
	margin-top: 30px;
	color: white;
	text-align: center;


}

#wd {
	font-family: 'Great Vibes', 'Cursive';
	color: white;
	text-align: center;

}

.left_arrow {

}

.right_arrow {
	float: right;
}
