<!-- <div class="header">
	<h1>Palmer Sanderson</h1>
	<h3>Web Developer</h3>
	<h5>Who really needs a Job</h5>
	<p>So he can win back the girl that he loves</p>
	<p>or at least go to the strip club and make it rain</p>
</div> -->
<div class="row">
	<div class="col-md-3"></div>

	<div class="col-md-6">
		<div class=" header">
			<h1 id="ps">Palmer Sanderson</h1>
			<h3 id="wd">Web Developer</h3>
		</div>

			<button ng-click="leftArrow()" class="left_arrow">x</button>

			<button ng-click="rightArrow()" class="left_right">x</button>


	</div>

	<div class="col-md-3"></div>
</div>